<article>
  <ol>
  <% @tasks.each do |task| %>
      <li><a href="/tasks/<%= task.id %>"><%= task.item %></li>
  <% end %>
  </ol>
</article>


<footer>
  <p>Find me in app/views/tasks/index.html.erb</p>
</footer>